[Unit]
Description=Scheduled Daily
After=network.target redis.service
Requires=redis.service

[Service]
Type=simple
User=vignesh
Group=vignesh
EnvironmentFile=/etc/default/celeryd
WorkingDirectory=/home/vignesh/projects/app-subscription-reminder
ExecStart=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} beat  \
    --pidfile=${CELERYBEAT_PID_FILE} \
    --logfile=${CELERYBEAT_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL}'
Restart=always

[Install]
WantedBy=multi-user.target
