<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Subscriptions</title>
</head>
<body>
    <h1>Apps Subscriptions</h1>
    <table>
        <thead>
            <tr>
                <th>S. No.</th>
                <th>Subscription</th>
                <th>Amount(₹)</th>
                <th>Type</th>
                <th>Sub. Date</th>
                <th>Exp. Date</th>
                <th>No. of Days Left</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sub in subs %}
            <tr>
                <td>{{ loop.index }}</td>                
                <td>{{ sub.name }}</td>
                <td>{{ sub.amount}}</td>
                <td>{{ sub.subtype}} </td>
                <td>{{ sub.subdate.strftime("%d-%m-%Y")}}</td>
                <td>{{ sub.expdate.strftime("%d-%m-%Y")}}</td>                
                <td>{{ sub.daysleft}}</td>
                <td colspan="3">
                    <a href="{{url_for('renew',id=sub.id)}}">Renew</a>
                    <a href="{{url_for('update',id=sub.id)}}">Update</a>
                    <a href="{{url_for('delete',id=sub.id)}}">Delete</a>
                </td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
    <button onclick="showForm()">Add App</button>
    <form  id="appForm" action="" method="POST" style="display: None;">
        <label for="app" >App Name</label>
        <input id="app" name="app" type="text"/><br><br>
        <label for="amount">Amount</label>
        <input id="amount" name="amount" type="number" step="any"/><br><br>
        <label for="type">Type</label>
        <input id="type" name="type" type="text"/><br><br>
        <label for="subdate">Sub Date</label>
        <input type="Date" name="subdate" id="subdate" /><br><br>
        <label for="expdate">Exp Date</label>
        <input type="Date" name="expdate" id="expdate" /><br><br>
        <label for="subdays">Sub. Days</label>
        <input type="number" name="subdays" id="subdays" /><br><br>
        <button type="submit">Submit</button>        
    </form>

    <script>
        function showForm(){
            const appForm = document.getElementById("appForm");
            appForm.style.display = "block";
        }       
    </script>
</body>
</html>