<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renew</title>
</head>
<body>
    <h2>Renew {{sub.name}}</h2>
    <form action='' method="POST">
        <label for="amount">Amount</label>
        <input id="amount" name="amount" type="number" step="any" value="{{sub.amount}}"/><br><br>
        <label for="type">Type</label>
        <input id="type" name="type" type="text" value="{{sub.subtype}}"/><br><br>
        <label for="subdate">Sub Date</label>
        <input type="Date" name="subdate" id="subdate" value="{{sub.expdate}}"/><br><br>
        <label for="expdate">Exp Date</label>
        <input type="Date" name="expdate" id="expdate"  /><br><br>
        <label for="subdays">Sub. Days</label>
        <input type="number" name="subdays" id="subdays" value="{{sub.subdays}}"/><br><br>
        <button type="submit">Submit</button>
        <button type="link"><a href="{{url_for('index')}}">Go Back</a></button>
    </form>       
</body>
</html>